<div class="room-wrapper">
  <div class= "chat-header">
    <div class= "chat-leftheader">
      <%= current_electorate.nickname %>さん
      <%= link_to'トップページへ戻る',root_path %>
    </div>
    <div class= "chat-rightheader">
      <%= @candidate.last_name %><%= @candidate.first_name %>候補の部屋
    </div>
  </div>  
  <div class="chat">
    <%# 左のボックスに有権者のコメント表示 %>
    <div class="electorate-chat">
      <div class= 'message-header'>有権者のコメント</div>
      <li class= 'message-list'>
      <% @electorate_messages.each do |electorate_message| %>
      <div class="message-box">
        <%= electorate_message.content%>
        <%= electorate_message.electorate.nickname%>
      </div>      
      </li>
    <% end %>
    </div>
    <%# 右側のボックスに候補者のコメントを表示 %>
    <div class="candidate-chat">
      <div class= 'message-header'>候補者のコメント</div>
      <li class= 'message-list'>
      <% @candidate_messages.each do |candidate_message| %>
        
      <div class= "message-box">
      <%= candidate_message.content%>
      </div>
      </li>
    <% end %>
    </div>
  </div>
</div>


<%# コメント入力フォーム %>
<%= form_with url: "/candidates/#{@candidate.id}/rooms/#{@room.id}/messages", method: :post, local: true do |f| %>
コメント入力欄
  <%= f.text_field :content ,class: 'message-field',placeholder: "メッセージを入力してください"%>
  
  
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>